<!DOCTYPE html>
<html lang="en">
<head data-th-replace="fragments/layout :: head">
	<title>Dashboard Detail</title>
</head>
<body>
	<header data-th-include="fragments/layout :: header"></header>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<ol class="breadcrumb">
					<li><a href="#" data-th-href="@{/dashboard/show}">Dashboard</a></li>
					<li class="active">Yearly Detail</li>
				</ol>
				<hr />
				<div data-th-replace="fragments/layout :: global-messages"></div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<table class="table table-bordered table-hover table-condensed">
					<thead>
						<tr class="active">
							<th class="text-right">Years</th>
							<th class="text-right">1Y Credit</th>
							<th class="text-right">1M Credit</th>
							<th class="text-right">1Y Avg. XE</th>
							<th class="text-right">1Y Debit</th>
							<th class="text-right">1M Debit</th>
							<th class="text-right">1Y Debit</th>
							<th class="text-right">1M Debit</th>
						</tr>
					</thead>
					<tbody>
						<tr data-th-each="yearly : ${dashboard.yearlyDashboard}" data-th-object="${yearly}">
							<td class="active text-right"><strong><a href="#" data-th-href="@{/dashboard/{year}/show(year=*{year})}" data-th-inline="text">[[*{year}]]</a></strong></td>
							<td class="success text-right" data-th-inline="text"><i class="fa fa-dollar"></i>&nbsp;[[*{#numbers.formatDecimal(oneYearCredit,1,'COMMA',2,'POINT')}]]</td>
							<td class="success text-right" data-th-inline="text"><i class="fa fa-dollar"></i>&nbsp;[[*{#numbers.formatDecimal(oneMonthCredit,1,'COMMA',2,'POINT')}]]</td>
							<td class="warning text-right" data-th-inline="text"><i class="fa fa-rupee"></i>&nbsp;[[*{#numbers.formatDecimal(avgExchangeRate,1,'COMMA',2,'POINT')}]]</td>
							<td class="danger text-right" data-th-inline="text"><i class="fa fa-dollar"></i>&nbsp;[[*{#numbers.formatDecimal(oneYearDebit,1,'COMMA',2,'POINT')}]]</td>
							<td class="danger text-right" data-th-inline="text"><i class="fa fa-dollar"></i>&nbsp;[[*{#numbers.formatDecimal(oneMonthDebit,1,'COMMA',2,'POINT')}]]</td>
							<td class="info text-right" data-th-inline="text"><i class="fa fa-rupee"></i>&nbsp;[[*{#numbers.formatDecimal(oneYearDebitConverted,1,'COMMA',2,'POINT')}]]</td>
							<td class="info text-right" data-th-inline="text"><i class="fa fa-rupee"></i>&nbsp;[[*{#numbers.formatDecimal(oneMonthDebitConverted,1,'COMMA',2,'POINT')}]]</td>
						</tr>
						<tr data-th-if="${#lists.isEmpty(dashboard.yearlyDashboard)}">
							<td class="text-center" colspan="8">No data available.</td>
						</tr>
					</tbody>
					<tfoot>
						<tr class="active">
							<th class="text-right"><strong>Total</strong></th>
							<th class="text-right" data-th-inline="text"><i class="fa fa-dollar"></i>&nbsp;[[${#numbers.formatDecimal(dashboard.totalCredit,1,'COMMA',2,'POINT')}]]</th>
							<th></th>
							<th class="text-right" data-th-inline="text"><i class="fa fa-rupee"></i>&nbsp;[[${#numbers.formatDecimal(dashboard.avgExchangeRate,1,'COMMA',2,'POINT')}]]</th>
							<th class="text-right" data-th-inline="text"><i class="fa fa-dollar"></i>&nbsp;[[${#numbers.formatDecimal(dashboard.totalDebit,1,'COMMA',2,'POINT')}]]</th>
							<th></th>
							<th class="text-right" data-th-inline="text"><i class="fa fa-rupee"></i>&nbsp;[[${#numbers.formatDecimal(dashboard.totalDebitConverted,1,'COMMA',2,'POINT')}]]</th>
							<th></th>
						</tr>
					</tfoot>
				</table>
			</div>
		</div>
	</div>
	<footer data-th-include="fragments/layout :: footer"></footer>
</body>
</html>