<!DOCTYPE html>
<html lang="en">
<head data-th-replace="fragments/layout :: head">
	<title>Dashboard</title>
</head>
<body>
	<header data-th-include="fragments/layout :: header"></header>
	<section id="breadcrum-section">
		<div class="container">
			<ol class="breadcrumb">
				<li class="active">Dashboard</li>
			</ol>
			<div data-th-replace="fragments/layout :: global-messages"></div>
		</div>
	</section>
	<section id="dashboard-section" class="section-dashboard">
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-md-offset-1">
					<p class="text-dashboard">Your Score</p>
					<div id="scoreGauge" style="width: 400px; height: 200px;"></div>
				</div>
				<div class="col-md-6">
					<div class="row">
						<div class="col-md-5">
							<p class="text-dashboard">Year To Date Credit</p>
						</div>
						<div class="col-md-4">
							<p class="text-dashboard"><i class="fa fa-dollar"></i>&nbsp;<span data-th-text="${#numbers.formatDecimal(dashboard.totalCredit,1,'COMMA',2,'POINT')}">300,000</span></p>
						</div>
						<div class="col-md-3">
							<a class="btn btn-default" href="#" data-th-href="@{/credit/new}">Add</a>
						</div>
					</div>
					<hr />
					<div class="row">
						<div class="col-md-5">
							<p class="text-dashboard">Year To Date Debit</p>
						</div>
						<div class="col-md-4">
							<p class="text-dashboard">
							<i class="fa fa-dollar"></i>&nbsp;<span data-th-text="${#numbers.formatDecimal(dashboard.totalDebit,1,'COMMA',2,'POINT')}">200,000</span>
							<br />
							<i class="fa fa-rupee"></i>&nbsp;<span data-th-text="${#numbers.formatDecimal(dashboard.totalDebitConverted,1,'COMMA',2,'POINT')}">1,00,00,000</span>
							</p>
						</div>
						<div class="col-md-3">
							<a class="btn btn-default" href="#" data-th-href="@{/debit/new}">Add</a>
						</div>
					</div>
					<hr />
					<div class="row">
						<div class="col-md-4 col-md-offset-5">
							<a href="#yearlydetail-section" class="btn btn-primary btn-block">View Details</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="xerate-section" class="section-dashboard">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<p class="text-center text-dashboard">XE Rate</p>
					<div id="xeChart"></div>
				</div>
			</div>
		</div>
	</section>
	<section id="yearlydetail-section" class="section-dashboard">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<p class="text-center text-dashboard">Yearly Detail</p>
					<ul class="nav nav-pills">
	  					<li class="active"><a href="#" data-target="#yearlyChart" data-toggle="tab">Chart</a></li>
	  					<li><a href="#" data-target="#yearlyTable" data-toggle="tab">Table</a></li>
					</ul>
					<div class="tab-content">
						<div id="yearlyChart" class="tab-pane active"></div>
						<div id="yearlyTable" class="tab-pane tab-pane-table">
							<table class="table table-bordered table-hover">
								<thead>
									<tr class="active">
										<th class="text-right">Years</th>
										<th class="text-right">1Y Credit</th>
										<th class="text-right">1M Credit</th>
										<th class="text-right">1Y Avg. XE</th>
										<th class="text-right">1Y Debit</th>
										<th class="text-right">1M Debit</th>
										<th class="text-right">1Y Debit</th>
										<th class="text-right">1M Debit</th>
									</tr>
								</thead>
								<tbody>
									<tr data-th-each="yearly : ${dashboard.yearlyDashboard}" data-th-object="${yearly}">
										<td class="active text-right"><strong><a href="#" data-th-href="@{/dashboard/{year}/list(year=*{year})}" data-th-inline="text">[[*{year}]]</a></strong></td>
										<td class="success text-right" data-th-inline="text"><i class="fa fa-dollar"></i>&nbsp;[[*{#numbers.formatDecimal(oneYearCredit,1,'COMMA',2,'POINT')}]]</td>
										<td class="success text-right" data-th-inline="text"><i class="fa fa-dollar"></i>&nbsp;[[*{#numbers.formatDecimal(oneMonthCredit,1,'COMMA',2,'POINT')}]]</td>
										<td class="warning text-right" data-th-inline="text"><i class="fa fa-rupee"></i>&nbsp;[[*{#numbers.formatDecimal(avgExchangeRate,1,'COMMA',2,'POINT')}]]</td>
										<td class="danger text-right" data-th-inline="text"><i class="fa fa-dollar"></i>&nbsp;[[*{#numbers.formatDecimal(oneYearDebit,1,'COMMA',2,'POINT')}]]</td>
										<td class="danger text-right" data-th-inline="text"><i class="fa fa-dollar"></i>&nbsp;[[*{#numbers.formatDecimal(oneMonthDebit,1,'COMMA',2,'POINT')}]]</td>
										<td class="info text-right" data-th-inline="text"><i class="fa fa-rupee"></i>&nbsp;[[*{#numbers.formatDecimal(oneYearDebitConverted,1,'COMMA',2,'POINT')}]]</td>
										<td class="info text-right" data-th-inline="text"><i class="fa fa-rupee"></i>&nbsp;[[*{#numbers.formatDecimal(oneMonthDebitConverted,1,'COMMA',2,'POINT')}]]</td>
									</tr>
									<tr data-th-if="${#lists.isEmpty(dashboard.yearlyDashboard)}">
										<td class="text-center" colspan="8">No data available.</td>
									</tr>
								</tbody>
								<tfoot>
									<tr class="active">
										<th class="text-right"><strong>Total</strong></th>
										<th class="text-right" data-th-inline="text"><i class="fa fa-dollar"></i>&nbsp;[[${#numbers.formatDecimal(dashboard.totalCredit,1,'COMMA',2,'POINT')}]]</th>
										<th></th>
										<th class="text-right" data-th-inline="text"><i class="fa fa-rupee"></i>&nbsp;[[${#numbers.formatDecimal(dashboard.avgExchangeRate,1,'COMMA',2,'POINT')}]]</th>
										<th class="text-right" data-th-inline="text"><i class="fa fa-dollar"></i>&nbsp;[[${#numbers.formatDecimal(dashboard.totalDebit,1,'COMMA',2,'POINT')}]]</th>
										<th></th>
										<th class="text-right" data-th-inline="text"><i class="fa fa-rupee"></i>&nbsp;[[${#numbers.formatDecimal(dashboard.totalDebitConverted,1,'COMMA',2,'POINT')}]]</th>
										<th></th>
									</tr>
								</tfoot>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	<script type="text/javascript" data-th-inline="javascript">
		require(["jquery", "charts"], function($) {
			google.charts.load('current', {packages: ['corechart', 'gauge']});
			google.charts.setOnLoadCallback(drawScoreGuage);
			google.charts.setOnLoadCallback(drawXeChart);
			google.charts.setOnLoadCallback(drawYearlyChart);

			function drawScoreGuage() {
				var score = [[${dashboard.score}]];
				var data = google.visualization.arrayToDataTable([['Label', 'Value'], ['', score]]);
				var options = {
		        	redFrom: 0, redTo: 50,
		    	    yellowFrom: 50, yellowTo: 75,
		    	    greenFrom: 75, greenTo: 100,
		    	    minorTicks: 5
				};

				var chart = new google.visualization.Gauge($('#scoreGauge')[0]);

		        chart.draw(data, options);
		    }
			
			function drawXeChart() {
				var jsonData = $.ajax({
					url: [[@{/dashboard/chart/xe-rate}]],
					dataType: 'json',
					async: false
				});
				var data = new google.visualization.DataTable(jsonData.responseText);
		      	
		      	var options = {
	      			height: 300,
	      			backgroundColor: '#65c6c3',
		        	vAxis: {
		          		title: 'INR'
		        	},
		        	legend: {
		        		position: 'top'
		        	},
		        	colors: ['#a52714', '#097138']
		      	};

		    	var chart = new google.visualization.LineChart($('#xeChart')[0]);
				chart.draw(data, options);
			}
			
			function drawYearlyChart() {
				var jsonData = $.ajax({
					url: [[@{/dashboard/chart/yearly-detail}]],
					dataType: 'json',
					async: false
				});
				var data = new google.visualization.DataTable(jsonData.responseText);
				
				var options = {
					height: 300,
					backgroundColor: '#FFF0A3',
					legend: {
		        		position: 'top'
		        	},
					series: {
						0: {targetAxisIndex: 0},
						1: {targetAxisIndex: 0},
						2: {targetAxisIndex: 1}
					},
					vAxes: {
						0: {title: 'USD'},
						1: {title: 'INR'}
					},
					hAxis: {
						format: 'y'
					}
				};
				var chart = new google.visualization.LineChart($('#yearlyChart')[0]);
		        chart.draw(data, options);
			}
		});
	</script>
	<footer data-th-include="fragments/layout :: footer"></footer>
</body>
</html>